.about-me-section {
  background-color: #e3e3e3;
  color: #12110a;
  padding: 100px 0;
}

.about-me-section h2 {
  font-size: 3rem;
  color: #3b3a39;
}

.about-me-section p {
  font-size: 1.5rem;
  color: #6c6c69;
  padding: 10px;
}

.about-me-section button {
  margin-top: 20px;
  background-color: transparent;
  border: 2px solid #3b3a39;
  color: #3b3a39;
  padding: 10px 30px;
}

.about-me-section button:hover {
  background-color: #3b3a39;
  color: #ffffff;
  border-color: #a49c99;
}
