<div class="container-fluid about-me-section text-center my-5">
  <h2>About Me</h2>
  <p>Full-Stack MEARN Developer with expertise in MongoDB, Express.js, React,
    and Node.js. Committed to building scalable web applications and enhancing user experiences. Seeking a
    challenging role to contribute to innovative projects, collaborate with a dynamic team, and grow in a fast paced environment.</p>
    <a href="https://www.mediafire.com/file/kfzz7iwyihtjh0p/Ibrahim_Atef.pdf/file" target="_blank" class="btn btn-secondary">Download Resume</a>
  </div>
