.container {
    padding: 80px 0;
  }
  
  h2 {
    color: #a49c99;
  }
  
  .progress {
    height: 30px;
    background-color: #6c646c;  
  }
  
  .progress-bar {
    background-color: #a49c99;  
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    color: #12110a; 
  }
  