<div class="container my-5">
  <h2>Skills</h2>

  <div class="container my-5"></div>
  <div class="progress-section">
    <div class="progress mb-2">
      <div class="progress-bar" role="progressbar" style="width: 80%">HTML</div>
    </div>
    <div class="progress mb-2">
      <div class="progress-bar" role="progressbar" style="width: 75%">CSS</div>
    </div>
    <div class="progress mb-2">
      <div class="progress-bar" role="progressbar" style="width: 70%">
        JavaScript
      </div>
    </div>
  </div>
</div>
